* {
    color: blue;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main {
    display: flex;
}
.left {
    width: 30%;
    border: 3px solid hotpink;
    box-shadow: 3px 3px 3px hotpink;
    margin: 3px;
}
img {
    width: 95%;
}
.right {
    margin: 3px;
    width: 65%;
    border: 2px solid red;
    box-shadow: 3px 3px 3px red;

}
.cr {
    color: green;
}
.skills {
    background-color: skyblue;
    color: white;
    border: 2px solid slateblue;
    box-shadow: 3px 3px 3px slateblue;
    padding: 3px;
    border-radius: 3px;
}